body {
    background-color: cadetblue;
color:gainsboro;
font-family: 'Hind Siliguri', sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:ghostwhite;
    font-size: xx-large;
}